<nav class="navbar" role="navigation">
  <!-- LOGO-->
  <a class="navbar__brand" href="../index.html">
    <div class="navbar__logo-icon">
      <img src="/assets/img/Logo-ASY.png" alt="Logo All Sports Yourself" />
    </div>
    <span class="navbar__brand-text">All Sports Yourself</span>
  </a>

  <!-- LINKS -->
  <ul class="navbar__links">
    <li><a class="navbar__link" href="../index.html">Inicio</a></li>
    <li><a class="navbar__link" href="#">Espacios Deportivos</a></li>
    <li><a class="navbar__link" href="#">Reservas</a></li>
    <li><a class="navbar__link" href="#">Perfil</a></li>
  </ul>

  <!-- BUTTON -->
  <div class="navbar__actions">
    <a href="../pages/login.html" class="navbar__btn-login">Iniciar Sesión</a>
    <a href="#" class="navbar__btn-register"
      >Registrarse</a
    >

    <!-- HAMBURGUER  -->
    <button class="navbar__hamburger" id="navbar-hamburger">
      <span></span><span></span><span></span>
    </button>
  </div>

  <!-- PHONE MENU-->
  <div class="navbar__mobile-menu" id="navbar-mobile-menu">
    <a href="../index.html" class="navbar__link">Inicio</a>
    <a href="#" class="navbar__link">Espacios</a>
    <a href="../pages/login.html" class="navbar__link">Login</a>
    <a href="#" class="navbar__link">Registro</a>
  </div>
</nav>
